.product__card-result {
  display: flex;
  align-items: center;
  text-align: left;
}

.product__card-detail {
  display: flex;
  align-items: center;
  text-align: left;
}

.card-info {
  padding-left: 15px;
}

.footer-container-flex {
  display: flex;
  justify-content: space-evenly;
}

.footer__city {
  margin: 0 50px;
}

.footer-subscription {
  width: 320px;
}

.container-grid {
  grid-template-columns: 450px 450px;
  grid-column-gap: 30px;
}
