.navigation__button i {
  font-size: 2.5rem;
}

.banner {
  padding: 120px 0;
}

.banner__content {
  font-size: 4rem;
}

.container-grid {
  display: grid;
  grid-template-columns: 330px 330px;
  grid-column-gap: 30px;
  justify-content: center;
}

.product__card-detail {
  text-align: left;
}

.footer__cities {
  display: flex;
  margin-bottom: 30px;
}

.footer-subscription {
  text-align: left;
  margin: 0;
  padding: 0 15px;
}

.footer-social {
  margin: 95px 0;
}
